<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>ye to profile he bhai</h1>
  <h2>profile page pe swagt he bhai aapka 游때游때游때游때  </h2>
  <form action="/logout" method="post">
  <button type="submit">  you wanna logout ? clicl me</button>
   </form>

</body>
</html>